{% extends 'base.html.twig' %}

{% block title %}Détails Alerte{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body{background-color: white;}

    .container{
        top:0;
        left:0;
        width:100%;
        text-align: center;
    }

    .title{font-size: 100px; color: white;background-color: #B51b1b;}
    .btn{margin-top: 35px; background-color: black;color: white;}
    ul{list-style-type: none;}

</style>
<div class="container">

        <div class="title">ALERTE</div>

        <!-- Back button returning to the previous page -->
        <a class="btn btn-lg" role="button" href="javascript:history.go(-1)">Retour</a>

</div>

{% endblock %}
