{% extends 'basewithnavbar.html.twig' %}

{% block title %}Données Administrateur{% endblock %}

{% block body %}
    <style>
        .example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        
        .container {margin: 50px; display: flex; flex-wrap: wrap; justify-content: space-between;}
        .bordure {padding: 20px; font-size: 30px; border: 1px solid black;}
    
    </style>

    <div class="example-wrapper">
        <br>
        <h1 class="titre">{{ room }}</h1>
        <br>
        <div class="container">

            <div class="box">
                <br>
                <h5>Température</h5>
                <div class="bordure">{{ temp }} °C</div>
            </div>

            <div class="box">
                <br>
                <h5>Humidité</h5>
                <div class="bordure">{{ hum }} %</div>
            </div>

            <div class="box">
                <br>
                <h5>CO2</h5>
                <div class="bordure">{{ co2 }} PPM</div>
            </div>

        </div>
        <a class="btn btn-primary" href="/admin/inventaire/lister_salles" role="button">Retour</a>
        
    </div>
{% endblock %}
