{% extends 'basewithnavbar.html.twig' %}

{% block title %}Data Room{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <h1 style="text-align: center;">{{ room }}</h1>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Température</th>
                    <th>Humidité</th>
                    <th>CO2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ temp }} °C</td>
                    <td>{{ hum }} %</td>
                    <td>{{ co2 }} PPM</td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
