{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .logo{
        margin-top: 10px;
    }
    .text_main{
        margin-top:     70px;
        font-size: 110px;

    }
    .text_second{
        margin-top: 30px;
        font-size: 60px;
    }
    .container{
        margin-top: 100px;
    }
    body{
        background-image: url("img/main_wallpaper.jpg");
        background-size: cover;
    }

    .btn-white {
        color: #000;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        text-align: inherit;
        text-align: -webkit-match-parent;
        border-style: solid;
        border-width: 0;
    }


</style>
    <!-- main UX -->
    </br>
    <img class="rounded mx-auto d-block logo" src="{{ asset('img/logo_main.png') }}">
    <p class="text-light text-center align-middle text_main"><strong>La solution de demain</strong> </p>
    <p class="text-light text-center align-middle text_second"><strong>Smart Campus</strong></p>
<!--
    <div class="information">
        <div class="p-5 mb-3 bg-light rounded-3">

        </div>
        <div class="p-5 mb-4 bg-light rounded-3">

        </div>
    </div>
-->

    <div class="container">
        <div class="col text-center form-group row">
            <div class="col">
                <a class="btn btn-white btn-lg" href="/admin/selection_salle" role="button" style="width:300px">Connexion Superviseur</a>
            </div>
            <div class="col-4">

            </div>
            <div class="col">
                <a class="btn btn-white btn-lg" href="/salle/selection" role="button" style="width:300px">Sélection Salle</a>
            </div>
        </div>
    </div>
{% endblock %}
