{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    /************** CSS **************/
    /**** General characteristics ****/
    body{
        background-image: url("img/main_wallpaper.jpg");
        background-size: cover;
    }
    .container{
        margin-top: 100px;
    }
    .logo{
        margin-top: 10px;
    }
    .text_main{
        margin-top: 70px;
        font-size: 110px;

    }
    .text_second{
        margin-top: 30px;
        font-size: 60px;
    }

    /**** Buttons ****/
    .btn-white {
        color: #000;
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        text-align: inherit;
        text-align: -webkit-match-parent;
        border-style: solid;
        border-width: 0;
    }

    .blue:hover {
        color: #FFF;
        background-color: #00489a;
        border-color: #00489a;
    }

    .green:hover {
        color: #FFF;
        background-color: #75A307;
        border-color: #75A307;
    }
</style>
    <!-- main UX -->
    </br>
    <img class="rounded mx-auto d-block logo" src="{{ asset('img/logo_main.png') }}">
    <p class="text-light text-center align-middle text_main"><strong>La solution de demain</strong> </p>
    <p class="text-light text-center align-middle text_second"><strong>Smart Campus</strong></p>

    <div class="container">
        <div class="col text-center form-group row">
            <div class="col">
                <a class="btn btn-white blue btn-lg" href="/admin/guide" role="button" style="width:300px">Connexion</a>
            </div>
            <div class="col-4">

            </div>
            <div class="col">
                <a class="btn btn-white green btn-lg" href="/salle/selection" role="button" style="width:300px">Sélection Salle</a>
                <br>
                <p style="color : #FFF;"> sans connexion </p>
            </div>
        </div>
    </div>
{% endblock %}
