{% extends 'basewithnavbar.html.twig' %}
{% block title %}Liste des capteurs{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        /* BOUTONS */
        .styled {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;

            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        .table .thead-light th {
            color: #495057;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

    </style>

    <div class="example-wrapper">
        <h1>Inventaire des Salles</h1>

        <!-- Lister Salles -->

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">modif</th> <!-- mettre crayon -->
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td> {{ room.id }} </td>
                    <td> {{ room.name }} </td>
                    <!-- Supprimer Salle -->
                    <td><button class="favorite styled" type="button">Supprimer</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <!-- Ajouter Salle -->
        <a href="formulaire_salles_ajout.html.twig"><button class="favorite styled" type="button">Ajouter une salle</button></a>
        <!-- ce qui marche: http://localhost:9979/admin/database/lister_salles/formulaire_ajout -->
    </div>
{% endblock %}
