{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table .thead-light th {
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
    .table td, .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>

<div class="example-wrapper">
    <!-- include bar de menu qui devrait être dans un .html -->

    <h1> Inventaire des Systèmes d'acquisition </h1>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom du système</th>
            <th scope="col">Salle</th>
        </tr>
        </thead>
        <tbody>
        {% for system in systems %}
            <tr>
                <th {{ system.id }} </th>
                <td> {{ system.name }}</td>
                <td> salle </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
