<!DOCTYPE html>
<html>


<body>
{% block body %}


    <div class="col text-center form-group row">
        <div class="col-md-8">
            <a class="btn btn-white btn-lg" href="/logout" role="button">connexion superviseur</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-white btn-lg" href="/salle/" role="button">connexion salle</a>
        </div>
    </div>



{% endblock %}
</body>
</html>
