{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <style>
        .btn {
            bottom: 20;

        }
        .gg{ text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

    </style>


    <img class="rounded mx-auto d-block" src="{{ asset('img/profil.png') }}">

    <div class="col text-center form-group row gg">

            <a class="btn btn-white btn-lg" href="/logout" role="button">Déconnexion</a>

    </div>



{% endblock %}

