{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <style>

        .img{
            margin-top: 8em;
        }
        .bottom{
            display: flex;
            justify-content: end;
            align-items:end;
            margin-top: 500px;
        }
        .text{
            text-align: center; margin: 1em auto; font: 28px/1.5 sans-serif;
        }
        body{
            background-image: url("../img/main_wallpaper.jpg");
            background-size: cover;
        }
        .btn{
            background-color: #FFFFFF;
            border:solid red;
            width: 15%;
            text-align: center;
            margin: 1em auto;
        }
    </style>

    <div>
    <img class="rounded mx-auto d-block img" src="{{ asset('img/profil.png') }}">

    <p class=" text"> Bonjour {{ app.user.username }} </p>
    </div>

    <div class="bottom col text-center bot form-group row gg">

            <a class="btn btn-red btn-lg" href="/logout" role="button">Déconnexion</a>

    </div>



{% endblock %}

