{% extends 'basewithnavbar.html.twig' %}

{% block title %}Selection d'une salle{% endblock %}

{% block body %}
    <style>
        /************** CSS **************/
        /**** General characteristics ****/
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        body{
            text-align: center;
            margin-left: 180px;
        }
        h2 {
            margin-top: 30px;
            font-size: 20px;
        }

        /**** Buttons and colors ****/
        .btn
        {
            align-items: center;
        }

        .green {
            color: #fff;
            background-color: #75A307;
            border-color: #75A307;
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .red {
            color: #fff;
            background-color: #B51b1b;
            border: #B51b1b;
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
        }
        .red:hover
        {
            background: #da0e0e;
        }

        a:hover {
            color : #FFFFFF;
        }
        .boxItem {
            width : 150px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 500px;
            row-gap: 10px;

            padding: 10px;
            border: 1px solid grey;
            border-radius: 6px;
            box-shadow: 2px 2px 5px grey;
        }

        .boxItem:hover {
            box-shadow: 4px 4px 7px grey;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 5000px;
            row-gap: 1px;
        }
        .line {
            display : flex;
            justify-content: space-around;
            column-gap: 50px;
        }

        /**** Legends ****/
        .legend
        {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
        .legendGreen
        {
            border-bottom: 3px solid #75A307;
            color: #75A307;

        }
        .legendRed
        {
            border-bottom: 3px solid red;
            color: #B51b1b;
        }
    </style>

    <div class="example-wrapper">
        <h1>Choisir une salle </h1>
        <h2>Pour afficher son graphique</h2>
        <br>
        <br>
        <div class="content">
            <!-- Loop for show all floors -->
            {% for floor in allFloor | reverse %}
                <!-- With an exception for floor 0 where we display : ground floor -->
                {% if floor=="0" %}
                    <p style="margin-top: 20px;"> Rez-de-chaussée : </p>
                {% else %}
                    <p style="margin-top: 20px;"> Etage {{ floor }} : </p>
                {% endif %}
                <div class="line">
                    {% for room in allRoom %}
                        <!-- All the rooms corresponding to the floor are displayed, without taking into account the stock -->
                        {% if (room.isIsStock() != 1) and (room.floor == floor) %}
                            <div class="boxItem" onclick="window.location='/admin/donnees_salle_admin/{{ room.id }}';">

                                <!-- Show the room in blue if there are no alert -->
                                <a class="btn btn-primary green" href="graphique/{{ room.id }}">{{ room.name }}</a>

                            </div>

                        {% endif %}

                    {% endfor %}
                </div>
                <br>
                <br>
            {% endfor %}
            <br>

        </div>
        <br>
    </div>
{% endblock %}
